*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: #FFC157;
    
}
#board{
    width: 80%;
    
    height: 70vh;
    margin: auto;
    margin-top: 25px;
}

.front, .back{
    


}
.front{
    opacity: 1;
}
.back{
    opacity: 0;
}